.form
{
    padding: 7% 0;
    text-align: center;
}

.form  input
{
    color: #fff;
}

.form input, .form textarea 
{
    background-color: #303030;
    color: #fff;
    border-radius: 5px;
    padding: 1% 0 1% 2%;
    border: 1px solid #fff;
    width: 50%;
    height: auto;
    margin-top: 5%;
}

.form input::placeholder, .form textarea::placeholder
{
    color: #fff;
}

.form .button5
{
    margin-top: 8%;
}

.form .button5 a
{
    background-color: #2bb673;
    padding: 8px 30px 7px 30px;
    border: 1px solid #2bb673;
    border-radius: 6px;
    color: white;
    font-size: 17px;
}

