.people{
    background-image: url(/static/media/q2.c80ada99.jpg);
    width: 100%;
    height: auto;
    padding: 5% 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: #2e2e2e;
}

.people h3{
    text-align: center;
    font-size: 30px;
    color: white;
}

.people .seprator{
    width: 5%;
    height: 2px;
    border-radius: 5px;
    background-color: orange;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.people .movie{
    margin-top: 5%;
    background-color: #262626;
}

.people .name {
    padding: 10% 0px 0 15px;
}

.people .name h4 {
    color: #cecece;
    font-size: 23px;
}

.people .name h4:hover {
    color: rgba(255, 255, 68, 0.986);
    opacity: 0.5s;
    transition: 0.5s;
}

.people .name p{
    color: #888888;
    font-size: 14px;
    padding-top: 2%;
}

.people .img1 {
   
}

.people .img1 img{
    width: 100%;
    height: auto;
}